<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>568365662285-o8nu3p63h3afdk1dahfgq85k28637r7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568365662285-o8nu3p63h3afdk1dahfgq85k28637r7p</string>
	<key>API_KEY</key>
	<string>AIzaSyBOea5F6C6loxOtrTy7fHbYd-ilC6GP7Sg</string>
	<key>GCM_SENDER_ID</key>
	<string>568365662285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.defcon.solveWithThink</string>
	<key>PROJECT_ID</key>
	<string>solve-with-think</string>
	<key>STORAGE_BUCKET</key>
	<string>solve-with-think.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568365662285:ios:767f1f46e1599604</string>
	<key>DATABASE_URL</key>
	<string>https://solve-with-think.firebaseio.com</string>
</dict>
</plist>